.gameCatalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   padding: 0 10vw;
 */
  gap: 20px;
  padding-bottom: 10px;
  max-width: 100vw;
  overflow: hidden;
}

.catalogueTitle {
  color: black;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gameCatalogueHide {
  display: none;
}

@media (min-width: 750px) {
  .gameCatalogue {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .gameCatalogue {
    display: grid;
    grid-template-columns: repeat(5, 19vw);
    margin: 0 20px;
  }
}
