@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --title: "Permanent Marker", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: transparent;
  user-select: none;
  width: 99vw;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.counter {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(106, 152, 38);
  position: absolute;
  width: 2rem;
  border-radius: 50%;
  transform: translateY(1rem) translateX(-0.7rem);
  pointer-events: none;
}

.cartIcon {
  font-size: 2rem;
  cursor: pointer;
}
.cart {
  transition: all ease-in-out 300ms;
}

.cart:hover {
  transform: scale(1.2);
  transition: all ease-in-out 300ms;
}

header p {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;

  font-weight: 300;
  margin: 0;
}

@media (min-width: 750px) {
  .cartIcon {
    font-size: 3rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }
}

@media (min-width: 1300px) {
  .cartIcon {
    font-size: 2.5rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }
  .cart {
    position: relative;
  }

  .counter {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(106, 152, 38);
    position: absolute;
    width: 2rem;
    border-radius: 50%;
    transform: translateY(1rem) translateX(-0.7rem);
    pointer-events: none;
  }
}
