* {
  margin: 0;
  padding: 0;
}

.sideBarItem {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
  background-color: black;
}

.sideBarItem:not(:first-child) {
  margin-top: 10px;
}
.sideBarItem:last-child {
  margin-bottom: 20px;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.2rem;
  color: white;
}

.gameIcon {
  min-width: 20vw;
  max-width: 25vw;
  height: auto;
}

@media (min-width: 600px) {
  .gameIcon {
    min-width: 5vw;
    max-width: 15vw;
    height: auto;
  }

  .gameInfo {
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .gameIcon {
    min-width: 5vw;
    max-width: 10vw;
    height: auto;
  }
}
