@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  background-color: #efefef;
  min-height: 100vh;
  width: 75vw;
  right: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide 300ms ease-in-out both;
  overflow: hidden;
}

.sidebar svg,
.sidebar button {
  cursor: pointer;
}

@keyframes slide {
  from {
    right: -100vw;
  }
  to {
    right: 0;
  }
}

p {
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
}

.top {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
  background-color: black;
  color: white;
}
.top svg {
  font-size: 1.6rem;
}

.cartItems {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 80vh;
  flex-grow: 2;
}

.sideFooter {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.sideFooter button {
  width: 9rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Signika Negative", sans-serif;
  background-color: rgb(116, 162, 47);
  color: white;
}

@media (min-width: 750px) {
  .sidebar {
    position: absolute;
    top: 0;
    background-color: #efefef;
    width: 60vw;
    right: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slide 300ms ease-in-out both;
  }
}

@media (min-width: 1400px) {
  .sidebar {
    position: absolute;
    top: 0;
    background-color: #efefef;
    width: 35vw;
    right: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slide 300ms ease-in-out both;
  }
}
