@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --title: "Permanent Marker", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: transparent;
  user-select: none;
  width: 99vw;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

svg {
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

svg:hover {
  transform: scale(1.2);
  transition: all ease-in-out 300ms;
}

header p {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;

  font-weight: 300;
  margin: 0;
}
