@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

:root {
  --common-font: "Signika Negative", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--common-font);
  scroll-padding-top: 5rem;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;

  font-family: var(--common-font);
}

@media (min-width: 1500px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  body {
    width: 100%;
  }
}
